extends _misc/main
block title
	| Файлы
	- var authorized = true;
	- var headerMenu = true;
block content
	.wide-container.bg_gray
		.lesson-chat
			.wrapper-simple

				.lesson-chat__item.item-lesson-chat
					.lesson-chat__title Общение с куратором
					p Задайте свой вопрос куратору в форме ниже

					.lesson-chat__form.form.form-lesson-chat
						.form-lesson-chat__row
							.form-lesson-chat__area
								textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

							label.form__label.form-lesson-chat__file
								input(type="file")
								span.file-icon
									+icon('add-file')
								span.form-lesson-chat__add-file Прикрепить файл

							button.btn.btn-sm.btn-accented Отправить

						// label.form__label.form-lesson-chat__field
						// 	input(type="file")
						// 	span.form__file-fild Перетащите сюда файл

					- const files = [{size: '5,3 МБ'}, {size: '3,31 МБ'}, {size: '236 КБ', name: 'Курсовая работа Константин Константинопольский.max'}];
					.loaded-files
						each file, ind in files
							.loaded-file
								button.loaded-file__remove(type="button")
									+icon('close')
								.loaded-file__img._fit
									if file.name
										img.loaded-file__icon(src="img/chat/ico-doc.svg")
										.loaded-file__name= file.name
									else
										img._fit-img(src="img/chat/loaded-"+(ind+1)+".jpg" alt="alt")
								
								.loaded-file__info
									.loaded-file__size= file.size 
									img.loaded-file__preloader(src="img/chat/downloading.svg" alt="alt")

						label.form__label.form-lesson-chat__file.loaded-files__add
							input(type="file")
							span.loaded-files__plus
								img(src="img/chat/ico_plus-add.svg")

				.lesson-chat__item.item-lesson-chat
					.lesson-chat__title Общение с куратором
					p Задайте свой вопрос куратору в форме ниже

					form(action="#").lesson-chat__form.form.form-lesson-chat
						.form-lesson-chat__row
							.form-lesson-chat__area
								textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

							label.form__label.form-lesson-chat__file
								input(type="file")
								span.file-icon
									+icon('add-file')
								span.form-lesson-chat__add-file Прикрепить файл

							button.btn.btn-sm.btn-accented Отправить

						// label.form__label.form-lesson-chat__field
						// 	input(type="file")
						// 	span.form__file-fild Перетащите сюда файл

					
					.loaded-files
						each file, ind in files
							.loaded-file.loaded-file--complete
								button.loaded-file__remove(type="button")
									+icon('close')
								.loaded-file__img._fit
									if file.name
										img.loaded-file__icon(src="img/chat/ico-doc.svg")
										.loaded-file__name= file.name
									else
										img._fit-img(src="img/chat/loaded-"+(ind+1)+".jpg" alt="alt")
								
								.loaded-file__info
									.loaded-file__size= file.size 
									img.loaded-file__preloader(src="img/chat/downloading.svg" alt="alt")

						label.form__label.form-lesson-chat__file.loaded-files__add
							input(type="file")
							span.loaded-files__plus
								img(src="img/chat/ico_plus-add.svg")



				.lesson-chat__item.item-lesson-chat
					.lesson-chat__title Общение с куратором
					.item-lesson-chat__header
						.item-lesson-chat__avatar
							img(src="img/lesson-page/user1.jpg" alt="alt")
						.item-lesson-chat__user
							.item-lesson-chat__name Константин Константинопольский
								span.item-lesson-chat__role (Студент)
							.item-lesson-chat__time 5 часов назад
					
					.item-lesson-chat__body
						p Господа, экономическая повестка сегодняшнего дня значительной степени обусловливает важность форм воздействия
						include _blocks/chat-images
						
						.chat-attached-files
							.chat-attached-file
								.chat-attached-file__icon
									img(src="img/chat/ico-doc.svg")
								
								.chat-attached-file__name Курсовая работа Константин Константинопольский.max
								.chat-attached-file__size 236 КБ
							
								a(href="#").chat-attached-file__download
									img(src="img/chat/ico_file-download.svg" alt="alt")

						.item-lesson-chat__actions
							a(href="#").item-lesson-chat__write.link Редактировать
							a(href="#").item-lesson-chat__write.link Удалить
					

					.lesson-chat__form.form.form-lesson-chat
						.item-lesson-chat__ques
							p Задайте свой вопрос куратору в форме ниже
						
						.form-lesson-chat__row
							.form-lesson-chat__area
								textarea(name="name" class="form__textarea" placeholder="Написать комментарий")

							label.form__label.form-lesson-chat__file
								input(type="file")
								span.file-icon
									+icon('add-file')
								span.form-lesson-chat__add-file Прикрепить файл

							button.btn.btn-sm.btn-accented Отправить

						label.form__label.form-lesson-chat__field
							input(type="file")
							span.form__file-fild Перетащите сюда файл

//- img(src=img + "demo.jpg")
//- img(src=ico + "amex.svg")

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jqueryUI--------------------------
	script(src="js/libs/jquery-ui-1.13.2.custom/jquery-ui.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	script(src="js/libs/slick/slick.min.js")

	script(src="js/libs/mediaelement/mediaelement-and-player.min.js")
	script(src="js/libs/animate-number/jquery.animateNumber.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper.min.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")
		
	//- end VANILLA JS===================================