extends _misc/main
block title
	| Наше всё
	- var authorized = true;
	- var headerMenu = true;
block content
	.wrapper-simple
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="").breadcrumbs__link Главная
			li.breadcrumbs__item
				span.breadcrumbs__target Наше всё

	.page.page-our-all
		.page-our-all__container
			.wrapper-simple
				.filter-tags
					.tag.tag-full-bg Всё вместе
					.tag.tag-landscape-empty Истории #[span студентов]
					.tag.tag-reviews-empty Отзывы
					.tag.tag-revit-empty Работы

			.wrapper-simple.page-our-all__content-wrapper
				.page-our-all__content
					div.history
						a(href="#").history__link
						div.history__card
							.user-card.user-card--vertical
								a(href="#").user-card__user
									.user-avatar
										img(src=img + "user.jpg" alt="alt")								
									.user-card__info
										.user-card__name Иван Овидиопольский
										.user-card__role Дизайнер
										.user-card__link
											+icon('insta')
											span ovidiop
								.user-card__courses
									a(href="#").user-card__finished Пройденные курсы:
									ul.user-card__list
										li
											a(href="#") 3ds Max + CORONA. Для дизайнеров и визуализаторов
										li
											a(href="#") AutoCAD PRO. Адаптация
						
						a(href="#").history__content.content-history
							.content-history__header
								.tag.tag-landscape-empty История
							.content-history__text
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Равным образом, базовый вектор развития предопределяет высокую востребованность распределения внутренних резервов и ресурсов. С учётом сложившейся международной обстановки, семантический разбор внешних противодействий напрямую зависит от поэтапного и последовательного развития общества. 
								p А также ключевые особенности структуры проекта и по сей день остаются уделом либералов, которые жаждут быть объективно рассмотрены соответствующими инстанциями. Базовый вектор развития в значительной степени обусловливает важность системы массового участия. Внезапно, независимые государства объединены в целые кластеры себе подобных. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает широкому кругу (специалистов) участие в формировании первоочередных требований.

								span.read-more.link Читать полностью
						
						a(href="#").history__images
							.history__image._fit
								img._fit-img(src=img + "/our-all-page/1.jpg" alt="zlg")
							.history__image._fit
								img._fit-img(src=img + "/our-all-page/2.jpg" alt="zlg")
							span.read-more.link Читать полностью

					a(href="#").history
						div.history__card
							.user-card.user-card--vertical
								.user-avatar
									img(src=img + "user.jpg" alt="alt")
								.user-card__info								
									.user-card__name Илья Лагутенко
									.user-card__role Дизайнер
									.user-card__link
										+icon('Behance')
										span laguta
								.user-card__courses
									.user-card__finished Пройденные курсы:
									ul.user-card__list
										li AutoCAD PRO. Адаптация
						
						div.history__content.content-history
							.content-history__header
								.tag.tag-landscape-empty История
							.content-history__text
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Равным образом, базовый вектор развития предопределяет высокую востребованность распределения внутренних резервов и ресурсов. С учётом сложившейся международной обстановки, семантический разбор внешних противодействий напрямую зависит от поэтапного и последовательного развития общества. 

								span.read-more.link Читать полностью
						
						div.history__images
							.history__image._fit
								img._fit-img(src=img + "/our-all-page/3.jpg" alt="alt")
							span.read-more.link Читать полностью
					
					.page-our-all__tiles
						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.

								a(href="http://www.youtube.com/watch?v=BGVF3MW8ExY").tile-item__media._fit.popup-youtube
									.play-button
										+icon('play')
									img._fit-img(src=img + "/our-all-page/4.jpg" alt="alt")


								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.
								
								span.read-more.link Читать полностью
								
								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/autocad.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Отзыв о курсе:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов

						.tile-item.tile-item--work
							.tile-item__header
								.tile-item__box
									.tag.tag-revit-empty Работа
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								a(href="#popup-gallery-1").tile-item__media.tile-item__photo._fit
									img._fit-img(src=img + "/our-all-page/1.jpg" alt="alt")

								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/3ds.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Работа по курсу:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов

						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.


								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.

								span.read-more.link Читать полностью

						.tile-item.tile-item--work
							.tile-item__header
								.tile-item__box
									.tag.tag-revit-empty Работа
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								a(href="#popup-gallery-1").tile-item__media.tile-item__photo._fit
									img._fit-img(src=img + "/our-all-page/3.jpg" alt="alt")
	

								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/3ds.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Работа по курсу:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов	
	
						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.


								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.

								span.read-more.link Читать полностью

						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.


								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.
								
								span.read-more.link Читать полностью
								
								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/autocad.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Отзыв о курсе:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов

						.tile-item.tile-item--work
							.tile-item__header
								.tile-item__box
									.tag.tag-revit-empty Работа
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								a(href="#popup-gallery-1").tile-item__media.tile-item__photo._fit
									img._fit-img(src=img + "/our-all-page/3.jpg" alt="alt")

								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/3ds.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Работа по курсу:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов
						
						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.

								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.
								span.read-more.link Читать полностью

								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/autocad.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Отзыв о курсе:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов

						

						.tile-item
							.tile-item__header
								.tile-item__box
									.tag.tag-reviews-empty Отзыв
								.user-card.user-card--horizontal
									.user-avatar
										img(src=img + "user.jpg" alt="alt")
									.user-card__info								
										.user-card__name Илья Лагутенко
										.user-card__role Дизайнер
										a(href="#").user-card__link
											+icon('Behance')
											span laguta
							
							.tile-item__content
								h2 После курса для меня 3ds Max стал, как карандаш для эскиза…
								p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.

								a(href="http://www.youtube.com/watch?v=BGVF3MW8ExY").tile-item__media._fit.popup-youtube
									.play-button
										+icon('play')
									img._fit-img(src=img + "/our-all-page/4.jpg" alt="alt")


								.tile-item__hidden
									p Прошёл курс школы Алексей Меркулова «Информационное моделирование в Revit». Обучение по данному курсу было интересным, информативным и полезным. Курс отлично подходит даже для тех, кто только начинает работать в Revit. На уроках Алексей объясняет все доходчиво и понятно, а обратная связь помогает решит дополнительные вопросы, которые возникли в ходе обучения. Спасибо большое за полученные знания. Всем рекомендую.
								
								span.read-more.link Читать полностью
								
								.tile-item__footer.footer-tile-item
									.program-icon
										img(src=img + "program-icons/autocad.png" alt="alt")
									.footer-tile-item__text
										.footer-tile-item__title Отзыв о курсе:
										.footer-tile-item__name 3ds Max + CORONA. Для дизайнеров и визуализаторов

					button.btn.btn-bordered Показать ещё
	include _misc/gallery-popup
//- img(src=img + "demo.jpg")
//- img(src=ico + "amex.svg")

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper.min.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")
		
	//- end VANILLA JS===================================