.contest-banner
	.contest-banner__wrapper
		.wrapper-simple
			.wrapper-flex
				.contest-banner__content
					.tag.tag-misc-empty Конкурс
					.contest-banner__title Конкурс на лучший проект 2022
					.contest-banner__text Ежегодный конкурс от учебного центра Алексея Меркулова.
					.contest-banner__found Призовой фонд 100 000 ₽
					.contest-banner__logos
						.contest-banner__logos-row
							.contest-banner__logo
								.contest-banner__logo-img
									img(src=img + "program-icons/autocad.svg" alt="logo")
								.contest-banner__logo-name autocad

							.contest-banner__logo
								.contest-banner__logo-img
									img(src=img + "program-icons/archicad.svg" alt="logo")
								.contest-banner__logo-name archicad

						.contest-banner__logos-row
							.contest-banner__logo
								.contest-banner__logo-img
									img(src=img + "program-icons/revit.svg" alt="logo")
								.contest-banner__logo-name revit

							.contest-banner__logo
								.contest-banner__logo-img
									img(src=img + "program-icons/3ds.svg" alt="logo")
								.contest-banner__logo-name 3ds max

					.btn.btn-wht.btn-sm Участвовать

				.contest-banner__img
					._fit
						img._fit-img(src=img + "/contest-page/banner.jpg" alt="aly")